.header{
  background-color: $darkBlack;
}

.header__wrapper{
  @extend %flex-space-between;  
  padding: 20px 20px;
  overflow: hidden;
  position: relative;
}

.header__panel{
  @extend %flex-space-between;
  gap: 40px;
}