.book-showcase{
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 260px;
  margin-top: 45px;
  margin-bottom: 20px;
}

.book-showcase__book-card{
  position: relative;
  width: 550px;
  height: 555px;
  border: 1px solid $darkBlack;
  padding: 15px 20px;
}

.book-showcase__main-info{
  padding: 18px 0px 20px;
}

.book-showcase__staff-picks{
  @extend %font-forum;
  @include font($size: 2rem, $height: 4rem);
  letter-spacing: 2px;
  text-transform: capitalize;

  &::after{
    content: '';
    display: block;
    border: 1px solid $orange;
    width: 60px;
  }
}

.book-showcase__book-name{
  @extend %font-inter;
  @include font($size: 1.5rem, $height: 4rem, $weight: 700);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.book-showcase__autor{
  @extend %font-inter;
  @include font($size: 1.5rem, $height: 4rem, $weight: 700);
  letter-spacing: 2px;
  text-transform: capitalize;
}

.book-showcase__description{
  @extend %font-inter;
  @include font($size: 1.5rem, $height: 4rem);
  letter-spacing: 2px;
  text-transform: capitalize;
  width: 355px;
  height: 320px;
  margin-bottom: 15px;
}

.book-showcase__book-img{
  position: absolute;
  bottom: -1px;
  right: -40px;
  display: block;
}
