@include media-tablet{
  .burger-menu{
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 20px;
    z-index: 1;

    transition: 1s;
  }

  .burger-menu_rotate{
    transform: rotate(90deg);
  }

  .burger-menu__string{
    width: 45px;
    height: 2px;
    background-color: $white;
  }
}