.carousel{
  display: flex;
  gap: 25px;

  @include media-tablet{
    justify-content: center;
    align-items: center;
  }
}

.carousel__item{
  display: block;
}

.carousel__swiper{
  display: none;
}

.carousel-pagination{
  margin: 40px auto 20px;
  display: flex;
  justify-content: space-between;
  width: 68px;
}

.carousel-pagination__item{
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: $darkBlack;
  cursor: pointer;
  @extend %transition;

  &:hover{
    background-color: $orange;
    transform: scale(1.2);
  }
}

.carousel-pagination__item_active{
  background-color: $orange;
}

@include media-tablet{
  .carousel__swiper{
    display: block;

    span{
      display: block;
      
    }
  }

  .carousel__item:not(:nth-child(1)):not(:nth-child(2)):not(:nth-last-child(1)){
    display: none;
  }
}