.about__wrapper-carousel{
  overflow: hidden;

  @include media-tablet{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 500px;
  }
}

.carousel{
  display: flex;
  gap: 25px;

  position: relative;
  left: 0px;

  transition: 2s;

  @include media-tablet{
    justify-content: center;
    align-items: center;

    left: 970px;
  }
}

.about__container-carousel{
  @include media-tablet{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 600px;
  }
}

.carousel__item{
  display: block;

  transition: 3s;
}

.carousel__item_unvisible{
  display: block;

  opacity: 0;

  transition: 3s;
}

.carousel__item_visible{
  display: block;

  opacity: 1;

  transition: 3s;
}

.carousel-pagination{
  margin: 40px auto 20px;
  display: flex;
  justify-content: space-between;
  width: 68px;

  @include media-tablet{
    width: 120px;
    margin-top: 25px;
  }
}

.carousel-pagination__item{
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: $darkBlack;
  cursor: pointer;
  @extend %transition;

  &:hover{
    background-color: $orange;
    transform: scale(1.2);
  }
}

.carousel-pagination__item:nth-last-child(-n+2){
  display: none;

  @include media-tablet{
    display: block;
  }
}

.carousel-pagination__item_active{
  background-color: $orange;
}

.carousel__swiper{
  display: none;
}

@include media-tablet{
  .carousel__swiper{
    display: block;
    span{
      display: block;
    }
  }
}