.form-library-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-library-card__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  border: 3px solid $orange;
  margin-top: 25px;
  padding: 20px 20px 30px 20px;
}

.form-library-card__form{
  display: flex;
  flex-direction: column;
  background-color: $orange;
  width: 560px;
  padding: 20px 20px 25px 20px;
  margin-bottom: 20px;
}

.form-library-card__title{
  @extend %font-inter;
  @include font($size: 3rem, $height: 4rem);
  letter-spacing: 0.6px;
}

.form-library-card__library-name{
  @extend %font-forum;
  @include font($size: 3rem, $height: 5rem);
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}

.form-library-card__reader-name{
  margin-bottom: 25px;
}

.form-library-card__reader-name, .form-library-card__card-number{
  height: 66px;
  border-radius: 10px;
  outline: none;
  border: none;
}


.form-library-card__reader-name::placeholder, .form-library-card__card-number::placeholder{
  padding: 8px 20px;
  color: $gray;
  @extend %font-forum;
  @include font($size: 3rem, $height: 5rem);
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}
