.navigation__list{
  display: flex;
  gap: 30px;

  @include media-tablet{
    display: none;
  }
}
.navigation__link{
  list-style-type: none;
  color: $white;
}

.navigation__link a{
  color: $white;
  text-decoration: none;
  @extend %transition;

  &:hover{
    color: $orange;
  }
}