.navigation__list{
  display: flex;
  gap: 30px;

  @include media-tablet{
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: -332px;
    z-index: 1;
    background-color: #0C0C0E;
    width: 332px;
    height: 520px;
    text-align: center;
    transition: 1s;
  }
}
.navigation__list_visible-tablet{
  right: 0px;

  transition: 1s;
}
.navigation__link{
  list-style-type: none;
  color: $white;
}

.navigation__link a{
  color: $white;
  text-decoration: none;
  @extend %transition;

  &:hover{
    color: $orange;
  }
}